<div class="row">

    <!-- Add Transaction Button -->
    <div class="col-lg-10 mb-4">
        <button type="button" class="btn btn-primary btn-md float-right">+ Добавить транзакцию</button>
    </div>
</div>

<div class="row">
    <!-- Content Column -->
    <div class="col-lg-10 mb-4">


        <!-- Project Card Example -->
        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Текущий портфель</h6>
            </div>

            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Тикер</th>
                        <th scope="col">Название</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Цена покупки</th>
                        <th scope="col">Общая стоимость</th>
                        <th scope="col">Текущая стоимость</th>
                        <th scope="col">Время обновления</th>
                        <th scope="col">Прибыль</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in stocks %}
                    <tr>
                        <th scope="row"> {{ record.stock.ticker }}</th>
                        <td>{{ record.stock.title }}</td>
                        <td>{{ record.total_amount }}</td>
                        <td>{{ record.average_price }}</td>
                        <td>{{ record.total_sum }}</td>
                        <td> None </td>
                        <td> None </td>
                        <td> None </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>