{% extends 'base.html' %}

{% block content %}

<div class="row">

    <!-- Add Transaction Button -->
    {% include 'portfolio/_inc/add_operation_btn.html' %}
</div>

<div class="row">
    <!-- Content Column -->
    <div class="col-lg-10 mb-4">


        <!-- Project Card Example -->
        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Транзакции</h6>
            </div>

            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Тикер</th>
                        <th scope="col">Название</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Цена покупки</th>
                        <th scope="col">Сумма транзакции</th>
                        <th scope="col">Дата транзакции</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operation in operations %}
                    <tr>
                        <th scope="row"> {{ operation.stock.ticker }}</th>
                        <td>{{ operation.stock.title }}</td>
                        <td>{{ operation.amount }}</td>
                        <td>{{ operation.price }}</td>
                        <td>None</td>
                        <td>{{ operation.datetime|date:"d.m.Y" }}</td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}